.component {
  position: absolute;
  bottom: 50px;
  text-align: center;
  color: #fff;
  z-index: 100;
  width: 100%;
}

.title, .promoDescription {
  position: absolute;
  width: 100%;
}

.title {
  bottom: 50px;
}

.promoDescription {
  bottom: 20px;
}