.component {
  position: relative;
  text-align: center;
  color: #fff;
}

.title, .days {
  position: absolute;
  width: 100%;
}

.title {
  top: 40px;
}

.subtitle {
  padding: 20px;
}

.days {
  top: 3px;
}